body {
    padding: 0px;
    margin: 0px;
    font-size: 2em;
    font-family: Impact, Haettenschweiler, Franklin Gothic Bold, Charcoal, Helvetica Inserat, Bitstream Vera Sans Bold, Arial Black, sans serif;
    display: grid;
    grid-template-areas: "header header header" "nav main side" "footer footer footer";
    grid-template-columns: 12% auto 12%;
    grid-template-rows: 15% auto 8%;  
    height: 100vh;
}

header {
    grid-area: header;
    padding: 20px;
    background: rgb(220, 220, 220);         /* 	#BABABA */
    border-bottom-width: 5px;
    border-bottom-style: solid;
    border-bottom-color: rgb(55, 55, 55);
}

main {
    grid-area: main;
    background: rgb(252, 252, 252);
    padding: 0px;
    display: grid;
    grid-template-areas: "area1 area2 area3 area4" "area5 area6 area7 area8";
    grid-template-columns: 1fr 1fr 1fr lfr;
    grid-template-rows: 1fr 1fr;
}

nav {
    grid-area: nav;
    background: rgb(252, 252, 252);
}

aside {
    grid-area: side;
    background: rgb(252, 252, 252);
}

footer {
    grid-area: footer;
    padding: 20px;
    background: rgb(220, 220, 220);
    border-top-width: 5px;
    border-top-style: solid;
    border-top-color: rgb(55, 55, 55);
}

div.button {
    float: left;
    margin: 10px;
    padding: 20px;
}

button {
    margin: 20px;
    padding: 20px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    background: rgb(150, 150, 150);
    border-color: rgb(150, 150, 150);
    border-radius: 3em;
    cursor: pointer;
}

button.area1 {
    grid-area: area1;
}

button.area2 {
    grid-area: area2;
}

button.area3 {
    grid-area: area3;
}

button.area4 {
    grid-area: area4;
}

button.area5 {
    grid-area: area5;
}

button.area6 {
    grid-area: area6;
}

button.area7 {
    grid-area: area7;
}

button.area8 {
    grid-area: area8;
}

nav li {
    background: #ffa880;
    padding: 20px;
    margin: 20px;
    border-width: 5px;
    border-style: solid;
    border-color: #5c3320a2;
    font-size: 0.5em;
}

nav ul {
    list-style-type: none;
    margin-block-start: 0em;
    margin-block-end: 0em;
    margin-inline-start: 0px;
    margin-inline-end: 0px;
    padding-inline-start: 0px;
}
