body {
    padding: 0px;
    margin: 0px;
    font-size: 1.5em;
    font-family: Tahoma, Geneva, sans-serif;
    color: white;
    display: grid;
    grid-template-areas: "header" "main" "footer";
    grid-template-columns: auto;
    grid-template-rows: 10% auto 8%;  
    height: 100vh;
}

header {
    grid-area: header;
    background: black;
    display: grid;
    grid-template-areas: "headerleft headermiddle headerright";
    grid-template-columns: 20% auto 20%;
    grid-template-rows: auto;
}

main {
    grid-area: main;
    background: black;
    padding: 50px 15% 50px 15%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
}

footer {
    grid-area: footer;
    background: black;
    display: grid;
    grid-template-areas: "footerleft footermiddle footerright";
    grid-template-columns: 20% auto 20%;
    grid-template-rows: auto;
}

div.GridMenu{
    display: grid;
    grid-template-areas: "MenuCell_1 MenuCell_2 MenuCell_3" "MenuCell_4 MenuCell_5 MenuCell_6";
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: 1fr 1fr;
    align-items: center;
    justify-items: center;
}
button {
    margin: 20px;
    height: 75%;
    width: 75%;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    background: rgb(150, 150, 150);
    border-color: rgb(150, 150, 150);
    border-radius: 2.5em;
    cursor: pointer;
}
button.StatusAuto {
    grid-area: MenuCell_1;
}
button.StatusWetter {
    grid-area: MenuCell_2;
}
button.Musik {
    grid-area: MenuCell_3;
}
button.Schloss {
    grid-area: MenuCell_4;
}
button.Fenster {
    grid-area: MenuCell_5;
}
button.Navigation {
    grid-area: MenuCell_6;
}

div.GridAutoDaten{
    display: grid;
    grid-template-areas: "AutoDatenCell_1 AutoDatenCell_2" "AutoDatenCell_3 AutoDatenCell_3";
    grid-template-columns: 1fr 1fr;
    grid-template-rows: auto 25%;
    align-items: center;
    justify-items: center;
}
img.GeschwindigkeitAuto {
    grid-area: AutoDatenCell_1;
}
img.VerbrauchAuto {
    grid-area: AutoDatenCell_2;
}


div.GridWetterDaten{
    display: grid;
    grid-template-areas: "WetterDatenCell_1 WetterDatenCell_2 WetterDatenCell_3" "WetterDatenCell_4 WetterDatenCell_5 WetterDatenCell_6";
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: auto 25%;
    align-items: center;
    justify-items: center;
}
div.templateStatusdaten {
    grid-area: ;
}


div.GridMusik{
    display: grid;
    grid-template-areas: "MusikCell_1";
    grid-template-columns: auto;
    grid-template-rows:auto;
    align-items:center;
    justify-items:center;
}
div.templateMusic{
    grid-area: MusikCell_1;
}


div.GridSchloss{
    display: grid;
    grid-template-areas: "SchlossCell_1 SchlossCell_2";
    grid-template-columns: 1fr 1fr;
    grid-template-rows: auto;
    align-items: center;
    justify-items: center;
}
button.Verriegeln {
    grid-area: SchlossCell_1;
}
button.Aufschliessen {
    grid-area: SchlossCell_2;
}


div.GridFenster{
    display: grid;
    grid-template-areas: "FensterCell_1 FensterCell_2 FensterCell_3" "FensterCell_4 FensterCell_5 FensterCell_6";
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: 1fr 1fr;
    align-items: center;
    justify-items: center;
}
button.FensterRechtsHoch {
    grid-area: FensterCell_1;
}
button.FensterRechtsRunter {
    grid-area: FensterCell_4;
}
button.FensterAlleHoch {
    grid-area: FensterCell_2;
}
button.FensterAlleRunter {
    grid-area: FensterCell_5;
}
button.FensterLinksHoch {
    grid-area: FensterCell_3;
}
button.FensterLinksRunter {
    grid-area: FensterCell_6;
}


#home {
    grid-area: headerleft;
    float: left;
    padding: 0px;
    height: 50%;
    width: 75%;
    align-items: center;
    justify-items: center;
}

div.Titel {
    grid: headermiddle;
    margin: 30px;
    text-align: center;
}

div.Autor {
    grid: footermiddle;
    margin: 5px;
    text-align: center;
}

img.LogoTesla {
    grid: headerright;
    text-align: right;
    width: 50px;
    margin: 0.4em;
}

#Datum{
    grid: footerright;
    text-align: right;
    padding: 5px;
}

#Uhr{
    grid: footerleft;
    padding: 5px;
}
